Name: SwipeForMore
Package: org.thebigboss.swipeformore
Maintainer: PoomSmart
Author: PoomSmart
Depends: firmware (>= 8.0), preferenceloader
Section: Tweaks
Version: 1.1
Architecture: iphoneos-arm
Description: Manage packages via swipe.
