<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
  	<key>title</key>
    <string>SwipeForMore</string>
  	<key>entry</key>
	<dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>SFM.png</string>
      <key>label</key>
      <string>SwipeForMore</string>
    </dict>
	 <key>items</key>
    <array>
    <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>By enabling Auto install/remove, SwipeForMore will automatically confirm any package (re)install/remove/upgrade task.
        
By enabling Auto dismiss, SwipeForMore will automatically dismiss the confirmation page at any task performed by any option triggered by swipe.
        
© 2013 - 2016 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    <dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>PostNotification</key>
		<string>com.PS.SwipeForMore.prefs</string>
		<key>default</key>
		<true/>
		<key>defaults</key>
		<string>com.PS.SwipeForMore</string>
		<key>key</key>
		<string>enabled</string>
		<key>label</key>
		<string>Enabled</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>PostNotification</key>
		<string>com.PS.SwipeForMore.prefs</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>com.PS.SwipeForMore</string>
		<key>key</key>
		<string>confirm</string>
		<key>label</key>
		<string>Auto install/remove</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>PostNotification</key>
		<string>com.PS.SwipeForMore.prefs</string>
		<key>default</key>
		<true/>
		<key>defaults</key>
		<string>com.PS.SwipeForMore</string>
		<key>key</key>
		<string>autoDismiss</string>
		<key>label</key>
		<string>Auto dismiss</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>PostNotification</key>
		<string>com.PS.SwipeForMore.prefs</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>com.PS.SwipeForMore</string>
		<key>key</key>
		<string>short</string>
		<key>label</key>
		<string>Use icons</string>
	</dict>
	<!--
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>PostNotification</key>
		<string>com.PS.SwipeForMore.prefs</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>com.PS.SwipeForMore</string>
		<key>key</key>
		<string>checkSupport</string>
		<key>label</key>
		<string>Check support</string>
	</dict>
	-->
    </array>
  </dict>
</plist>
